{# templates/chuck/random.html.twig #}
<!DOCTYPE html>
<html>
<head><title>Une blague de Chuck !</title></head>
<body>

{# Ceci est un commentaire #}
<h1>Une bonne blague avec Chuck :</h1>

<img src="{{ data.icon_url }}">
<p>{{ data.value }}</p>

Source: <a href="{{ data.url }}">chucknorris.io</a>
</body>
</html>
